/*IMPORTANT*/

  .hide {
    display: none !important;
  }

/*IMPORTANT*/

/*Global styles*/

  h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
  }

  h2 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
  }

  h3 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
  }

  p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }

  header {
    background-color: #062659;
    width: 100%;
    height: 100px;
  }

/*Global styles*/

/*Search section*/

  #main-form {
    width: 80%;
    margin: 4em auto 1em auto;
    display: flex;
    justify-content: center;
    background-color: #6f263c;
    padding: 5rem 0;
  }

  .logo {
    margin-right: 1em;
    margin-top: 1em;
  }
  
  .formbod {
    margin-left: 1em;
  }

  #formtitle {
    color: white;
    font-weight: 800;
    font-size: 70px;
  }

  #team-search {
    width: 300px;
  }

  #searchButton {
    background-color: white;
    color: #000072;
    margin-top: 3em;
    width: 300px;
    margin-left: -1em;
    padding: 0.5em 2em;
    border: none;
    border-radius: 20px;
  }

  #searchButton:hover {
    background-color: #000072;
    color: white;
  }

/*Search section*/

/*Team info*/

  .team-serch-results {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color:#003b75;
    height: 400px;
  }

  .team-serch-results h1, h3  {
    color: white;
  }
  
  .team-serch-results h3{
    font-weight: 300;
    font-size: 30px;
  }  

  .image-container {
    margin-right: 40px;
  }

  #teamimage {
    width: 250px;
  }

  .basicinfo {
    margin-left: 40px;
  }

/*Team info*/

/*Game Stats*/

  .game-stats {
    padding: 3em;
    width: 80%;
    margin: 0 auto;
    background-color: #d9dadb ;
  }

  #game-stats-container {
    width: 900px;
    margin: 0 auto;
  }

  #team-record {
    width: 98%;
    display: flex;
   background-color: #062659;
   padding: 0.5em;
   justify-content: space-between;
   margin-left: 1.25em;
  }

  #team-record h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    color: white;
  }

 

  #games-list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    padding: 0.5em;
  }

   li div {
    color: white;
    font-family: 'Oswald', sans-serif;
  }

  

/*Game Stats*/


/*Stats section*/
  .responsive-blog-footer {
    background: #4a4a4a;
    padding: 3rem 3rem;
    color: white;
  }

  @media screen and (max-width: 39.9375em) {
    .responsive-blog-footer h4 {
      font-size: 1.5rem;
    }
  }

  .responsive-blog-footer p {
    color: #8a8a8a;
  }

  .responsive-blog-footer .mailing-list {
    margin-bottom: 1.5rem;
  }

  .responsive-blog-footer .mailing-container {
    margin-bottom: 2rem;
  }

  .responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
    margin-bottom: 2rem;
  }

  .responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
    color: #1779ba;
  }

  .responsive-blog-footer .subscribe-button {
    background-color: #1779ba;
  }

  .responsive-blog-footer .subscribe-button:hover {
    background-color: #146aa3;
    transition: color 0.3s ease-in;
  }

  .responsive-blog-footer .fa-chevron-circle-up {
    font-size: 3rem;
    color: #8a8a8a;
  }

  .responsive-blog-footer .fa-chevron-circle-up:hover {
    color: #b0b0b0;
    transition: color 0.3s ease-in;
  }
/*Stats section*/

/*Videos*/
  #video {
    padding: 1em;
  }

  #video:hover {
    transition: all 0.5s ease-in-out;
    transition: transform 0.5s;
    transform: scale(1.1);
  }
/*Videos*/


.stats-button {
  color: white;
}

.oponent-name {
  width: 250px;
  text-align: center;
  
}

#game-title {
  text-align: center;
}

#final-score {
  text-align: center;
  margin-bottom: 3em;
  color: black;
}


#game-stats-section {
  width: 100%;
  margin: 0 auto;
}

#game-stats-container {
  display: flex;
  justify-content: center;
  
  width: 80%;
  margin: 0 auto;
}

#game-stats-container ul li {
  width: 90%;
}

@media screen and (max-width: 576px){
  #game-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 80%;
    margin: 0 auto;
  }
}