/*Searcg bar*/
.input-group-rounded .input-group-field {
    width: 30%;
    margin: 0 auto;
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }
  
  #searchbar {
    min-width: 30%;
    max-width: 40%;
    margin: 0 auto;
  }

  /*Stats section*/
  
.responsive-blog-footer {
    background: #4a4a4a;
    padding: 3rem 3rem;
    color: white;
  }
  
  @media screen and (max-width: 39.9375em) {
    .responsive-blog-footer h4 {
      font-size: 1.5rem;
    }
  }
  
  .responsive-blog-footer p {
    color: #8a8a8a;
  }
  
  .responsive-blog-footer .mailing-list {
    margin-bottom: 1.5rem;
  }
  
  .responsive-blog-footer .mailing-container {
    margin-bottom: 2rem;
  }
  
  .responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
    margin-bottom: 2rem;
  }
  
  .responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
    color: #1779ba;
  }
  
  .responsive-blog-footer .subscribe-button {
    background-color: #1779ba;
  }
  
  .responsive-blog-footer .subscribe-button:hover {
    background-color: #146aa3;
    transition: color 0.3s ease-in;
  }
  
  .responsive-blog-footer .fa-chevron-circle-up {
    font-size: 3rem;
    color: #8a8a8a;
  }
  
  .responsive-blog-footer .fa-chevron-circle-up:hover {
    color: #b0b0b0;
    transition: color 0.3s ease-in;
  }
  
  /*Videos*/
  #video {
    padding: 1em;
  }
  #video:hover {
    transition: all 0.5s ease-in-out;
    transition: transform 0.5s;
    transform: scale(1.1);
  }